main {
    margin: auto;
    width: 60vw;
    box-shadow: 2px 2px 20px solid #0000008c;
    border-radius: 15px;
    border: 1px solid;
}

#div1 {
    border-width: 1px;
    background-color: blueviolet;
    border-color: black;
    border-style: solid;
    text-align: center;
    width: 60vw;
    border-radius: 15px;
        }

#div2 {
    border: 1px solid black;
    background-color: cornsilk;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}

#div3 {
    height: 150px;
    text-align: center;
    background-image: linear-gradient(to top, black, blue, pink, yellow, green);
    border-bottom: 2px dashed rgb(225, 24, 145);
    border-right: 1px dotted blue;
    border-left: 1px solid red;
}